.typography{
    font-family: Inter, Helvetica, Arial, sans-serif;
}

.h1{
    font-size: 26px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
}

.h2{
    font-size: 22px !important;
    line-height: 26px !important;
    letter-spacing: -0.01rem;
    font-weight: 500 !important;
}

.h3{
    font-size: 16px !important;
    line-height: 20px !important;
}

.p1{
    font-size: 24px;
}

.p2{
    font-size: 20px;
}

.p3{
    font-size: 18px;
}

.p4{
    font-size: 16px;
    line-height: 20px;
}

.primary{
    color: #1B1D1F;
}

.secondary{
    color: #5b6064;
}

.invert{
    color: #FFFFFF;
}


@media (max-width: 744px){
    .h1{
        font-size: 18px;
        line-height: 26px;
    }
    
    .h2{
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
    }
    
    .h3{
        font-size: 16px;
        line-height: 20px;
    }
    
    .p1{
        font-size: 16px;
    }
    
    .p2{
        font-size: 20px;
    }
    
    .p3{
        font-size: 16px;
    }
    
    .p4{
        font-size: 14px;
    }
}